In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/home/siddharth/scraping/LinkedIn-Profile-Scrapper-in-Python/transcripts/withstopwords_data.csv')

In [3]:
data

,Unnamed: 0,company,tital,description,without_sw
0,0,Convosight,Convosight - Senior Data Scientist - Machine L...,Convosight is the world's first global data an...,"['Convosight', 'world', ""'s"", 'first', 'global..."
1,1,Vidooly,Vidooly - Big Data Developer - AWS/Redshift/Ha...,Job DescriptionLooking for the big data engine...,"['Job', 'DescriptionLooking', 'big', 'data', '..."
2,2,Spinnaker Corporate Advisors,Data Science Instructor - Python/Machine Learn...,ResponsibilitiesCurrently we are looking for a...,"['ResponsibilitiesCurrently', 'looking', 'part..."
3,3,Alb Associates,Manager Data Science,"Good exposure as Data scienitstWorking on R, P...","['Good', 'exposure', 'Data', 'scienitstWorking..."
4,4,Talent1st,Data Scientist - Data Mining & Modeling - R/Py...,Role & ResponsibilitiesModelling and Statistic...,"['Role', '&', 'ResponsibilitiesModelling', 'St..."
...,...,...,...,...,...
75,75,Snaphunt Pte. Ltd,Artificial Intelligence Engineer - Data Modeli...,About The OfferDevelop and implement AI projec...,"['About', 'The', 'OfferDevelop', 'implement', ..."
76,76,Eagles Hunt,Tech Lead/Architect - Java/Python/NLP (5-10 yr...,Job Description-Prior experience of high-level...,"['Job', 'Description-Prior', 'experience', 'hi..."
77,77,MERCADOS,Mercados - Data Analyst - Python/R (2-3 yrs) D...,Job title : Data AnalystReports to: L1: Manage...,"['Job', 'title', ':', 'Data', 'AnalystReports'..."
78,78,Mindsnetwork,Data Scientist - Algorithm & Machine Learning ...,About The WorkJob Description :You will be bui...,"['About', 'The', 'WorkJob', 'Description', ':'..."
79,79,Schoolybooks.com,Senior Analytics Manager - Predictive & Statis...,Job DescriptionRole :Senior Manager AnalyticsR...,"['Job', 'DescriptionRole', ':', 'Senior', 'Man..."

In [4]:
data.insert(5, "clean_round_1","")

In [5]:
import re
import string

def clean_text_round1(text):
    #print (text)
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
   # print(text)
    text = re.sub('\[.*?\]', '', text)
   # print(text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
   # print(text)
    text = re.sub('\w*\d\w*', '', text)
    print(text)
    return text

In [6]:
data

,Unnamed: 0,company,tital,description,without_sw,clean_round_1
0,0,Convosight,Convosight - Senior Data Scientist - Machine L...,Convosight is the world's first global data an...,"['Convosight', 'world', ""'s"", 'first', 'global...",
1,1,Vidooly,Vidooly - Big Data Developer - AWS/Redshift/Ha...,Job DescriptionLooking for the big data engine...,"['Job', 'DescriptionLooking', 'big', 'data', '...",
2,2,Spinnaker Corporate Advisors,Data Science Instructor - Python/Machine Learn...,ResponsibilitiesCurrently we are looking for a...,"['ResponsibilitiesCurrently', 'looking', 'part...",
3,3,Alb Associates,Manager Data Science,"Good exposure as Data scienitstWorking on R, P...","['Good', 'exposure', 'Data', 'scienitstWorking...",
4,4,Talent1st,Data Scientist - Data Mining & Modeling - R/Py...,Role & ResponsibilitiesModelling and Statistic...,"['Role', '&', 'ResponsibilitiesModelling', 'St...",
...,...,...,...,...,...,...
75,75,Snaphunt Pte. Ltd,Artificial Intelligence Engineer - Data Modeli...,About The OfferDevelop and implement AI projec...,"['About', 'The', 'OfferDevelop', 'implement', ...",
76,76,Eagles Hunt,Tech Lead/Architect - Java/Python/NLP (5-10 yr...,Job Description-Prior experience of high-level...,"['Job', 'Description-Prior', 'experience', 'hi...",
77,77,MERCADOS,Mercados - Data Analyst - Python/R (2-3 yrs) D...,Job title : Data AnalystReports to: L1: Manage...,"['Job', 'title', ':', 'Data', 'AnalystReports'...",
78,78,Mindsnetwork,Data Scientist - Algorithm & Machine Learning ...,About The WorkJob Description :You will be bui...,"['About', 'The', 'WorkJob', 'Description', ':'...",
79,79,Schoolybooks.com,Senior Analytics Manager - Predictive & Statis...,Job DescriptionRole :Senior Manager AnalyticsR...,"['Job', 'DescriptionRole', ':', 'Senior', 'Man...",

In [7]:
#for i in range(0,80):
data.clean_round_1[0]=clean_text_round1(data.without_sw[0])

/home/siddharth/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
data

,Unnamed: 0,company,tital,description,without_sw,clean_round_1
0,0,Convosight,Convosight - Senior Data Scientist - Machine L...,Convosight is the world's first global data an...,"['Convosight', 'world', ""'s"", 'first', 'global...",
1,1,Vidooly,Vidooly - Big Data Developer - AWS/Redshift/Ha...,Job DescriptionLooking for the big data engine...,"['Job', 'DescriptionLooking', 'big', 'data', '...",
2,2,Spinnaker Corporate Advisors,Data Science Instructor - Python/Machine Learn...,ResponsibilitiesCurrently we are looking for a...,"['ResponsibilitiesCurrently', 'looking', 'part...",
3,3,Alb Associates,Manager Data Science,"Good exposure as Data scienitstWorking on R, P...","['Good', 'exposure', 'Data', 'scienitstWorking...",
4,4,Talent1st,Data Scientist - Data Mining & Modeling - R/Py...,Role & ResponsibilitiesModelling and Statistic...,"['Role', '&', 'ResponsibilitiesModelling', 'St...",
...,...,...,...,...,...,...
75,75,Snaphunt Pte. Ltd,Artificial Intelligence Engineer - Data Modeli...,About The OfferDevelop and implement AI projec...,"['About', 'The', 'OfferDevelop', 'implement', ...",
76,76,Eagles Hunt,Tech Lead/Architect - Java/Python/NLP (5-10 yr...,Job Description-Prior experience of high-level...,"['Job', 'Description-Prior', 'experience', 'hi...",
77,77,MERCADOS,Mercados - Data Analyst - Python/R (2-3 yrs) D...,Job title : Data AnalystReports to: L1: Manage...,"['Job', 'title', ':', 'Data', 'AnalystReports'...",
78,78,Mindsnetwork,Data Scientist - Algorithm & Machine Learning ...,About The WorkJob Description :You will be bui...,"['About', 'The', 'WorkJob', 'Description', ':'...",
79,79,Schoolybooks.com,Senior Analytics Manager - Predictive & Statis...,Job DescriptionRole :Senior Manager AnalyticsR...,"['Job', 'DescriptionRole', ':', 'Senior', 'Man...",